.ant-tag{
  cursor: pointer;
  line-height: 26px;
  border-color: #dcdfe6;
  font-size: 14px;
  user-select:none;
}
.ant-tag-processing{
  background: $blue;
  color: #fff;
  border-color: $blue;
  .ant-tag-close-icon{
    color: #fff;
  }
  &::before{
    content: "";
    background: #fff;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    margin-right: 6px;
  }
}
.tagview-container{
  padding: 10px;
  background: #fff;
}